

Color: <%= @colors[1] %>


<ul>
  <% @users.each do |u| %>
    <li>

      <strong>Fname</strong>: <%= u.fname %>

      <strong>Lname</strong>: <%= u.lname %>

      <%= link_to("Show", user_path(u)) %>
      <%= link_to("Delete", user_path(u), method: :delete) %>
    </li>
  <% end %>
</ul>
